@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Barlow", sans-serif;
}

.bg-color-menu {
  background-color: #004072;
  height: 100vh;
}


.kt-aside {
  height: 100%;
  box-shadow: 13px -2px 17px -12px rgba(41, 50, 66, .1);
}

.kt-aside__brand {
  background-color: #004072;
  padding: 5px;
  color: white;
}

.navbar_brand {
  font-size: 16px;
}

.kt-menu__link-icon {
  color: #fff !important;
}


.kt-menu__link-text {
  color: #fff !important;
}
.kt-menu__item:not(.kt-menu__item--active):hover > .kt-menu__link {
  background-color: #5064a0 !important;
}

.kt-menu__item--active > .kt-menu__link {
  background-color: #7787b5 !important;
}

.kt-menu__item--open > .kt-menu__link {
  background-color: #5064a0 !important;
}

.kt-aside__brand-aside-toggler span,
.kt-aside__brand-aside-toggler span::before,
.kt-aside__brand-aside-toggler span::after {
  background: #646464 !important;
}

.kt-menu__item {
  margin-bottom: 0 !important;
}
