<form [formGroup]="subAreaForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-row">
      <div class="col-8">
        <lib-form-input-padrao
          [label]="'Nome'"
          [control]="c['nome']"
          [supportText]="''">
        </lib-form-input-padrao>
      </div>

      <div class="col-4">
        <lib-form-input-padrao
          [label]="'Sigla'"
          [control]="c['sigla']"
          [supportText]="''">
        </lib-form-input-padrao>
      </div>
    </div>

    <div class="form-row">
      <lib-form-input-padrao
        [label]="'Carga Horaria'"
        [control]="c['cargaHoraria']"
        [type]="'number'"
        [supportText]="''">
      </lib-form-input-padrao>
    </div>

    <div class="form-row">
      <div class="col-12">
        <select id="areaConhecimento" class="form-select" formControlName="areaConhecimentoId">
          <option [ngValue]="null" disabled>Selecione uma área...</option>
          <option *ngFor="let area of areasDeConhecimento$ | async" [value]="area.id">
            {{ area.nome }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="subAreaForm.invalid">Inserir</button>
    </div>

  </div>
</form>

<!-- AQUI EM BAIXO COMEÇA O READ -->

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nome</th>
    <th scope="col">Sigla</th>
    <th scope="col">Area</th>
    <th scope="col">CH</th>
    <th scope="col">Excluir</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="(subAreas ?? []).length > 0; else emptyList">

  <tr *ngFor="let subArea of subAreas; trackBy: trackBySubAreaId" class="align-middle">
      <th scope="row">{{ subArea.id }}</th>
      <td>{{ subArea.nome }}</td>
      <td>{{ subArea.sigla }}</td>
      <td>{{ subArea.area }}</td>
      <td>{{ subArea.cargaHorariaTotal }}</td>
      <td class="text-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" (click)="onDelete(subArea.id)">
            Excluir
          </button>
        </div>
      </td>
    </tr>
  </ng-container>
  <ng-template #emptyList>
    <tr>
      <td colspan="6" class="text-center text-muted">
        Nenhum departamento cadastrado.
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
