* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
}
menu-lateral {
  width: 260px;
  background: #f3f3f3;
  height: 100%;
  flex-shrink: 0;
}
.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background: #fff;
}
