<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300 align-middle gs-3 gy-4">
        <thead>
        <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
          <th class="min-w-50px">#</th>
          <th class="min-w-150px">Nome</th>
          <th class="min-w-100px">Matrícula</th>
          <th class="min-w-100px">Vaga</th>
          <th class="min-w-120px">Formação</th>
          <th class="min-w-150px">Departamento</th>
          <th class="min-w-120px text-center">Ações</th>
        </tr>
        </thead>
        <tbody class="fs-6">
        <tr *ngFor="let docente of docentes; let i = index; let last = last">
          <td>
            <span class="text-gray-800 fw-bold">{{ docente.id }}</span>
          </td>
          <td>
            <span class="text-gray-800 fw-bold">{{ docente.nome }}</span>
          </td>
          <td>
            <span class="text-gray-700">{{ docente.matricula }}</span>
          </td>
          <td>
            <span class="text-gray-700">{{ docente.tipoVaga }}</span>
          </td>
          <td>
            <span class="text-gray-700">{{ docente.tipoFormacao }}</span>
          </td>
          <td>
            <span class="text-center text-gray-700">{{ docente.departamento }}</span>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-2">
              <a [routerLink]="['../editar', docente.id]"
                 class="btn btn-icon btn-light-primary btn-sm"
                 title="Editar">
                <i class="la la-edit fs-3"></i>
              </a>
              <button type="button"
                      class="btn btn-icon btn-light-danger btn-sm"
                      (click)="onDelete(docente.id)"
                      title="Excluir">
                <i class="la la-trash fs-3"></i>
              </button>
            </div>
          </td>
        </tr>


        <tr *ngIf="!docentes || docentes.length === 0">
          <td colspan="7" class="text-center py-10">
            <div class="d-flex flex-column align-items-center">
              <i class="la la-info-circle fs-3x text-gray-400 mb-3"></i>
              <span class="text-gray-600 fw-semibold fs-5">
                  Nenhum docente encontrado.
                </span>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
