<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">Novo Docente</h3>
  </div>
  <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()" class="form">
    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <lib-form-input-padrao
            label="Nome Completo *"
            [control]="c['nome']"
            supportText="">
          </lib-form-input-padrao>
        </div>
        <div class="col-md-6">
          <lib-form-input-padrao
            label="Matrícula *"
            [control]="c['matricula']"
            supportText="">
          </lib-form-input-padrao>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <label class="form-label">Tipo Vaga *</label>
          <select [formControl]="c['tipoVaga']" class="form-select">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option value="Efetivo">Efetivo</option>
            <option value="Substituto">Substituto</option>
            <option value="Visitante">Visitante</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label">Formação *</label>
          <select [formControl]="c['tipoFormacao']" class="form-select">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option value="Graduação">Graduação</option>
            <option value="Especialização">Especialização</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label">Origem Vaga *</label>
          <select [formControl]="c['origemVaga']" class="form-select">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option value="Concurso Público">Concurso Público</option>
            <option value="Processo Seletivo">Processo Seletivo</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label class="form-label">Departamento *</label>
          <select [formControl]="c['departamento']" class="form-select">
            <option [ngValue]="''" disabled>Selecione...</option>
            <option *ngFor="let dept of departamentos" [value]="dept.sigla">
              {{ dept.nome }} ({{ dept.sigla }})
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label">Possui Licenciatura?</label>
          <select [formControl]="c['licenciatura']" class="form-select">
            <option [ngValue]="true">Sim</option>
            <option [ngValue]="false">Não</option>
          </select>
        </div>
      </div>

    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" (click)="cancelar()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="docenteForm.invalid">
        <i class="fa fa-check"></i> Salvar
      </button>
    </div>
  </form>
</div>
